<div class="form">
<%= form_with model: @message, url: message_path, id: 'new_message', local: true do |f| %>
  <%= f.text_field :name, placeholder: "タイトル名を入力して下さい" %>
  <%= f.text_area :content, placeholder: '説明文を入力して下さい' %>
  <%= f.text_field :place, placeholder: '場所を入力して下さい' %>
  <%= f.text_field :reason, placeholder: '投稿の理由を入力して下さい' %>
  <%= f.text_field :how, placeholder: '使用した道具等を入力して下さい' %>
  <%= f.file_field :images, name: 'message[images][]', id: 'message_image' %>
  <div id="image-list"></div>
      <%= f.button :type => "submit", class: "btn btn--edit btn-d" do %>
       編集完了
      <% end %>
<% end %>
</div>

<% @message.images.each do |image| %>
  <%= image_tag image, class: 'images', :title => "#{image.filename}"  %>
<% end %>