<% @messages.each do |message| %>
<h1>検索結果:</h1>
  <div class="messages">
  <h1><%= message.keyword %></h1>
    <% message.images.each do |image| %>
      <%= image_tag image, class:'images' %>
    <% end %>
  </div>
    <%= link_to "#{message.name}", message_path(message.id), method: :get %>
    <%= link_to "(作成日：#{message.created_at})", message_path(message.id), method: :get %>
    <% message.liked_users.count %>
    <h1><%= message.content %></h1>
<% end %>