<div class="contents row">
  <%= form_with(url: search_messages_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<% @messages.each do |message| %>
<%= link_to "#{message.name}", message_path(message.id), method: :get %>
    (<%= "いいね：#{message.liked_users.count}" %>)

<div class="messages">
<% message.images.each do |image| %>
<%= image_tag image, class: 'images', :title => "#{image.filename}" %></label>
 <% end %>
  </div>



    <%= link_to "(作成日：#{message.created_at})", message_path(message.id), method: :get %>
    <h1><%= link_to "(更新日：#{message.updated_at})", message_path(message.id), method: :get %></h1>
    <h2><%= message.content %></h2>
<% end %>
</div>
