
<% if user_signed_in? %>
<div class="help_box">
<label>
  <span><i class="far fa-question-circle"></i></span>
  <input type="checkbox" name="checkbox">
<div id="popup"><%= image_tag "トップページヘルプ２.jpeg", class: 'help1' %></div>
</label>
</div>
<% else %>
<div class="help_box">
<label>
  <span><i class="far fa-question-circle"></i></span>
  <input type="checkbox" name="checkbox">
<div id="popup"><%= image_tag "トップページヘルプ１.jpeg", class: 'help1' %></div>
</label>
</div>
<% end %>


<div class="help_box3">
<label>
  初めての方は<span>こちら</span>
  <input type="checkbox" name="checkbox">
<div id="popup"><%= image_tag "初めての方へ.jpeg", class: 'help1' %></div>
</label>
</div>

<div class="contents row">
  <%= form_with(url: search_messages_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<% @messages.each do |message| %>
<%= link_to "#{message.name}", message_path(message.id), method: :get %>
    (<%= "いいね：#{message.liked_users.count}" %>)

<div class="messages">
<% message.images.each do |image| %>
<%= image_tag image, class: 'images', :title => "#{image.filename}" %></label>
 <% end %>
  </div>



    <%= link_to "(作成日：#{message.created_at})", message_path(message.id), method: :get %>
    <h1><%= link_to "(更新日：#{message.updated_at})", message_path(message.id), method: :get %></h1>
    <h2><%= message.content %></h2>
<% end %>

<% unless @messages.present? %>
<div class="messages">
<h1>タイトル名(いいね:0)</h1>
<%= image_tag "一.jpg", :title => "一.jpg" %></label>
<%= image_tag "二.jpg", :title => "二.jpg"  %></label>
<%= image_tag "三.jpg", :title => "三.jpg"  %></label>
<%= image_tag "四.jpg", :title => "四.jpg"  %></label>
<%= image_tag "五.jpg", :title => "五.jpg" %></label>
    <h1>(作成日：2021-01-01 12:00:00)</h1>
    <h1>(更新日：2021-01-01 12:00:00)</h1>
    <h2>説明文はここに入ります。</h2>
</div>
<% end %>