<div class="contents row">
    <div class="container">

    <span class="name"><%= @message.name %>
    </span>
<div class="messages">
    <% @message.images.each do |image| %>
      <%= image_tag image, class:'images', :title => "#{image.filename}" %>
    <% end %>
</div>

    <div class="more">
      <ul class="more_list">

      </ul>
    </div>
    <p><%= @message.content %></p>

<div class="button to">
    <%= button_to edit_message_path(@message.id), class: "btn btn--edit btn-a", method: :get do %>
    <i class="fa fas fa-edit"></i> 編集
    <% end %>

    <%= button_to message_path(@message.id), class: "btn btn--delete btn-b", method: :delete do %>
    <i class="fa fas fa-trash"></i> 削除
    <% end %>
</div>

<% if current_user.already_liked?(@message) %>
  <%= button_to 'いいねを取り消す', message_like_path(@message), method: :delete %>
<% else %>
  <%= button_to message_likes_path(@message) do %>
    <i class="fa fas fa-thumbs-up"></i>
    <% end %>
<% end %>
<h3>いいね件数: <%= @message.likes.count %></h3>
<h2>いいねしたユーザー</h2>
<% @message.liked_users.each do |user| %>
<li><%= user.nickname %></li>
<% end %>


    <% if user_signed_in? %>
      <%= form_with(model: [@message, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
        <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
     </div>
    </div>
  </div>
</div>