<div class="contents row">
    <div class="container">

<% if user_signed_in? %>
<% if current_user.id == @message.user_id %>
    <div class="help_box2">
<label>
  <span><i class="far fa-question-circle"></i></span>
  <input type="checkbox" name="checkbox">
<div id="popup"><%= image_tag '/assets/投稿詳細二.jpg', class: 'help1' %></div>
</label>
</div>
<% else %>
    <div class="help_box2">
<label>
  <span><i class="far fa-question-circle"></i></span>
  <input type="checkbox" name="checkbox">
<div id="popup"><%= image_tag '/assets/投稿詳細一.jpg', class: 'help1' %></div>
</label>
</div>
<% end %>
<% end %>

    <span class="name"><%= @message.name %>
    </span>
    (<%= "いいね：#{@message.liked_users.count}" %>)
<div class="messages">
    <% @message.images.each do |image| %>
      <%= image_tag image, class:'images', :title => "#{image.filename}" %>
    <% end %>
</div>

    <div class="more">
      <ul class="more_list">

      </ul>
    </div>

<div class="content_show">
  <h1>詳細：</h1>
  <p><%= @message.content %></p>
</div>

<div class="content_place">
  <h1>場所：</h1>
  <p><%= @message.place %></p>
</div>

<% if user_signed_in? %>
<% if current_user.id == @message.user_id %>
<div class="button to">
    <%= button_to edit_message_path(@message.id), class: "btn btn--edit btn-a", method: :get do %>
    <i class="fa fas fa-edit"></i> 編集
    <% end %>
    <%= button_to message_path(@message.id), class: "btn btn--delete btn-b", method: :delete do %>
    <i class="fa fas fa-trash"></i> 削除
    <% end %>
</div>
<% end %>


<% if current_user.id != @message.user_id %>
<% if current_user.already_liked?(@message) %>
  <h2><%= button_to message_like_path(@message), method: :delete, class: "btn btn--delete btn-b" do  %>
      <i class="fa fas fa-thumbs-up"></i> <%= @message.likes.count %>    取り消し
    <% end %></h2>
<% else %>
  <h2><%= button_to message_likes_path(@message), class: "btn btn--delete btn-b" do %>
    <i class="fa fas fa-thumbs-up"></i> <%= @message.likes.count %>
    <% end %></h2>
    <% end %>
<%= form_with(model: [@message, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
<% end %>
        <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    <% end %>
     </div>
    </div>
  </div>
</div>