<div class="help_box">
<label>
  <span><i class="far fa-question-circle"></i></span>
  <input type="checkbox" name="checkbox">
<div id="popup"><%= image_tag "ユーザーページヘルプ.jpeg", class: 'help1' %></div>
</label>
</div>

<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
<% @messages.each do |message| %>
<%= link_to "#{message.name}", message_path(message.id), method: :get %>
(<%= "いいね：#{message.liked_users.count}" %>)
  <div class="messages">
    <% message.images.each do |image| %>
      <%= image_tag image, class:'images', :title => "#{image.filename}" %>
    <% end %>
  </div>
      
    <%= link_to "(作成日：#{message.created_at})", message_path(message.id), method: :get %>
    <h1><%= link_to "(更新日：#{message.updated_at})", message_path(message.id), method: :get %></h1>
    <h2><%= message.content %></h2>
    <% end %>
</div>